/*Padrões de cores*/
:root {
    --titulo: white;
    --subtitulo: rgb(36, 36, 36);
    --texto: rgb(196, 196, 196);
    --accent: #e44040;
    --opção: #e44040;
    --fundogr: #202020;
    --fundosec: none;
    --fundosecnav: #242424;
    --border: #fff;
    --fundopt: rgba(0, 0, 0, 0.7);
    --luz: 0 4px 5px rgba(255, 255, 255, 0.7);
    --fundoblur: blur(3px);
}


/*Zerando CSS*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Overflow */
html {
    overflow: auto;
}

.overflow-hidden {
    overflow: hidden !important;
}


/* Padrões cor e texto */
body {
    scroll-behavior: smooth;
    margin: 0;
    font-family: Calibri;
    background: var(--fundogr);
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
.title {
    color: var(--titulo);
    font-size: clamp(20px, auto, 32px);
}

.subtitle {
    color: var(--subtitulo);
    font-size: clamp(12px, auto, 20px);
}

p,
.text {
    color: var(--texto);
    font-size: clamp(10px, auto, 10px);
}

img {
    width: 100%;
}

a {
    color: var(--accent);
    text-decoration: none;
}

/* Botões */
.btn {
    font-size: inherit;
    border: none;
    font-family: inherit;
    text-transform: capitalize;
    border-radius: 3px;
    text-decoration: none;
    color: var(--titulo);
    background: var(--accent);
    padding: 8px 10px;
    font-weight: 600;
    line-height: 25px;
}

.btns {
    margin-top: 20px;
    display: flex;
    column-gap: 10px;
    text-align: center;
    justify-content: center;
}

.btns .btn {
    overflow: hidden;
    max-height: 100px;
}

.btn:hover {
    transition: 0.3s ease;
    color: var(--accent);
    background: var(--titulo);
}




/*Navgation*/
/*logo*/
.logo a {
    font-size: 30px;
    text-decoration: none;
    font-weight: bold;
    color: inherit;
}

/* Navgation Menu */
.nav {
    color: var(--titulo);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 5%;
    top: 0;
    z-index: 1000;
    height: 60px;
    width: auto;

    background: transparent;
    position: sticky;
    font-size: 20px;
    text-transform: capitalize;

    border-bottom: 1px solid transparent;
    transition: 0.3s ease;
}

.nav::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px);
    z-index: -1;
}

/*cor da nav ao scrolar*/
.nav.scrolled {
    border-bottom: 1px solid var(--titulo);
}


/* Menu geral - fonte e estilos */
.menu {
    list-style: none;
    display: flex;
}

.menu li:not(:last-child) {
    margin-right: 40px;
}

.menu li a {
    color: var(--titulo);
    text-decoration: none;
    display: block;
    height: 100%;
    width: 100%;
    align-content: center;
    font-weight: bold;
}

.menu li a:hover {
    color: var(--opção);
}


/* Animações do menu */
.menu li {
    animation-duration: 0.5s;
    animation-name: slidein;
    animation-fill-mode: forwards;
    opacity: 0;
}

.menu li:nth-child(1) {
    animation-delay: 0.1ms;
}

.menu li:nth-child(2) {
    animation-delay: 0.2s;
}

.menu li:nth-child(3) {
    animation-delay: 0.4s;
}

.menu li:nth-child(4) {
    animation-delay: 0.6s;
}

@keyframes slidein {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }

    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

/* Icone hamburguer */
.hamburger {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

.hamburger.default::before {
    /*content: "\2630";*/
    content: "\2630";
    font-size: 40px;
}

.hamburger.active::before {
    content: "\26CC";
    font-size: 30px;
}

/* Resposividade Navgation */
@media screen and (max-width: 768px) {

    /* ativo menu */
    .menu {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .menu.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px;
        padding: 0;
        right: 0;
        left: 0;
        height: 85vh;
        border-top: 1px solid var(--border);
        justify-content: space-around;

        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(5px);
        background: transparent;
        overflow-y: auto;
    }

    .menu.active ul {
        overflow-y: auto;
    }

    .menu.active li {
        overflow-y: auto;
        padding: 20px;
        cursor: pointer;
        margin: 0;
        height: 100%;
        align-content: center;
    }

    .menu.active li:not(:last-child) {
        border-bottom: 1px solid var(--border);
    }

    .menu.active li a {
        display: block;
    }

    .menu.active li a:hover {
        color: inherit;
    }

    .menu.active li:hover {
        display: block;
        background: var(--opção);
    }

}


/* Main */
.main-content {
    padding: 20px;
    width: 100%;
    text-align: center;
    align-items: center;
    align-content: center;
    min-height: 60vh;
    justify-content: center;
    align-items: center;
}

.imge {
    text-align: center;
    aling-content: center;
    aling-items: center;
    max-width: 450px;
}

.imge img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    align-items: center;
    object-fit: cover;
    margin: 20px 0 20px;
    border: 1px solid var(--border);
}

.main-content .title {
    margin-bottom: 10px;
}


.main-content .text {
    margin-bottom: 10px;
}


.imge img {
    display: none;
}

.imge img.active {
    display: initial;
}




/* Alinhamento sections */
.sec {
    padding: 20px 30%;
    margin: 20px 0;
    align-content: start;
    min-height: 40vh;
    text-align: center;
}

.sec .subtitle {
    text-align: center;
    margin: 20px 0px 10px 0px;
    color: var(--titulo);
}

@media screen and (max-width: 1400px) {
    .sec {
        padding: 20px 20%;
    }
}

@media screen and (max-width: 768px) {
    .sec {
        padding: 20px;
    }
}



/* Footer*/
.menu-foter {
    list-style: none;
    position: relative;
    padding: 8px;
}

footer .nav {
    padding: 0;
    position: initial;
}

footer .logo a {
    background: var(--accent);
    padding: 5px;
    border-radius: 3px;
    color: var(--titulo);
}

.menu-foter li:not(:last-child) {
    margin-right: 40px;
}

.menu-foter li a {
    text-decoration: none;
    display: block;
    height: 100%;
    width: 100%;
    align-content: center;
    font-weight: bold;
}

/* Animações do menu - footer */
.menu-foter li {
    animation-duration: 0.5s;
    animation-name: slidein;
    animation-fill-mode: forwards;
    opacity: 0;
}

.menu-foter li {
    display: inline-block;
}

footer .sec {
    text-align: center;
}

footer .sec {
    height: auto;
    min-height: auto;
    margin: 0;
}